<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="TemplateMo" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />

     <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />


    <title>VellyPro - services</title>

    <!-- Bootstrap core CSS -->
    <link
      href="static/vp/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/vp/assets/css/fontawesome.css" />
    <link
      rel="stylesheet"
      href="static/vp/assets/css/templatemo-finance-business.css"
    />
    <link rel="stylesheet" href="static/vp/assets/css/owl.css" />
    <!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
   <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="mailto:Info@vellypro.co.uk"><i class="email"></i>Info@vellypro.co.uk</a></li>
              <li><a href="tel:07886105783"><i class="fa fa-phone"></i>07886105783</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    

     <header class="background-header">
    <nav class="navbar navbar-expand-lg" style="position: static;" id='navbar'>
      <div class="container">
        <!-- Use the same <a> element for both logo variations -->
        <a class="navbar-brand" href="home">
          <img src="static/vp/assets/images/logo.png" 
          
          alt="">
        </a>

       <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

        <!-- Move the collapsible menu inside a div with class "collapse navbar-collapse" -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About us</a>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Our Services</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="services">Services</a></li>
                  <li><a class="dropdown-item" href="packages">Packages</a></li>
                </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="career">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news">News & Updates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Our Services</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="single-services">
      <div class="container">
        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li>
                <a href="#tabs-1"
                  >Bookkeeping and Accounts <i class="fa fa-angle-right"></i
                ></a>
              </li>
              <li>
                <a href="#tabs-2"
                  >Self-Assessment<i class="fa fa-angle-right"></i
                ></a>
              </li>
              <li>
                <a href="#tabs-3"
                  >VAT Returns <i class="fa fa-angle-right"></i
                ></a>
              </li>
              <li>
                <a href="#tabs-4"
                  >Payroll<i class="fa fa-angle-right"></i
                ></a>
              </li>
              <li>
                <a href="#tabs-5"
                  >Corporation Tax Return<i class="fa fa-angle-right"></i
                ></a>
              </li>
              <li>
                <a href="#tabs-6"
                  >Business Start Up<i class="fa fa-angle-right"></i
                ></a>
              </li>
              <li>
                <a href="#tabs-7"
                  >Annual accounts<i class="fa fa-angle-right"></i
                ></a>
              </li>
              <li>
                <a href="#tabs-8"
                  >Company Secretarial<i class="fa fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <section class="tabs-content">
              <article id="tabs-1">
                <img src="assets/images/single_service_01.jpg" alt="" />
                <h4>Bookkeeping and Accounts</h4>
                <p>
                  Velly pro involves the systematic recording, organizing, and tracking of all financial transactions, ensuring accuracy and completeness of financial data.
                </p>
              </article>
              <article id="tabs-2">
                <img src="assets/images/single_service_02.jpg" alt="" />
                <h4>Self-Assessment</h4>
                <p>
                  When preparing your self-assessment tax return and filing it on behalf of HM Revenue & Customs we will also review your circumstances and advise on any future implications.
                </p>
              </article>
              <article id="tabs-3">
                <img src="assets/images/single_service_03.jpg" alt="" />
                <h4>VAT Returns</h4>
                <p>
                  We handle the completion and online submission of all tax returns, including quarterly, monthly, and annual filings. Our expert team ensures accurate and timely compliance with tax laws.
                </p>
              </article>
              <article id="tabs-4">
                <img src="assets/images/single_service_04.jpg" alt="" />
                <h4>Payroll</h4>
                <p>
                 We are qualified Chartered Institute of Payroll processional and experience in payroll from wide range of client – GP Practice, Dentist, Schools and any size of business.
                </p>
              </article>
              <article id="tabs-5">
                <img src="assets/images/single_service_04.jpg" alt="" />
                <h4>Corporation Tax Return</h4>
                <p>
                 Our dedicated service includes the timely completion and submission of your full accounts to HM Revenue & Customs, ensuring compliance and peace of mind.                </p>
              </article>
              <article id="tabs-6">
                <img src="assets/images/single_service_04.jpg" alt="" />
                <h4>Business Start Up</h4>
                <p>
                 Our expert team ensures your business meets all statutory requirements, encompassing every aspect, to keep you fully compliant and worry-free.                </p>
              </article>
              <article id="tabs-7">
                <img src="assets/images/single_service_04.jpg" alt="" />
                <h4>Annual accounts</h4>
                <p>
                 We handle annual accounts for limited companies, sole traders, startups, and partnerships. Expert assistance for your financial compliance needs.                </p>
              </article>
              <article id="tabs-8">
                <img src="assets/images/single_service_04.jpg" alt="" />
                <h4>Company Secretarial</h4>
                <p>
                 We assist with Limited Company formation, providing Incorporation certificates, statutory records, and copies of the memorandum and articles of association. Simplify the process with our expertise.                </p>
              </article>
          </div>
        </div>
      </div>
    </div>

    <div class="callback-form callback-services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Request a <em>call back</em></h2>
              <span>interdum nisl ac urna tempor mollis</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input
                        name="name"
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder="Full Name"
                        required=""
                      />
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input
                        name="email"
                        type="text"
                        class="form-control"
                        id="email"
                        pattern="[^ @]*@[^ @]*"
                        placeholder="E-Mail Address"
                        required=""
                      />
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input
                        name="subject"
                        type="text"
                        class="form-control"
                        id="subject"
                        placeholder="Subject"
                        required=""
                      />
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea
                        name="message"
                        rows="6"
                        class="form-control"
                        id="message"
                        placeholder="Your Message"
                        required=""
                      ></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button
                        type="submit"
                        id="form-submit"
                        class="border-button"
                      >
                        Send Message
                      </button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
              <div class="partner-item">
                <img src="assets/images/client-01.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>Velly Professional</h4>
            <p>Vision for perfect solutions</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <br>
              <br>
             <span> <a href="tel:07886105783"><i class="fa fa-phone"></i>07886105783</a></span>
              <br>
              <span><a href="mailto:Info@vellypro.co.uk"><i class="fa fa-mailto"></i>Info@vellypro.co.uk</a></span>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Additional Pages</h4>
            <ul class="menu-list">
              <li><a href="about">About Us</a></li>
              <li><a href="packages">How We Work</a></li>
              <li><a href="contact">Quick Support</a></li>
              <li><a href="contact">Contact Us</a></li>
              <li><a href="about">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item last-item">
            <h4>Contact Us</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="#" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>

   <!-- Bootstrap core JavaScript -->
    <script src="static/vp/vendor/jquery/jquery.min.js"></script>
    <script src="static/vp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    

    <!-- Additional Scripts -->
    <script src="static/vp/assets/js/custom.js"></script>
    <script src="static/vp/assets/js/owl.js"></script>
    <script src="static/vp/assets/js/slick.js"></script>
    <script src="static/vp/assets/js/accordions.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

</html>
